.data-table-component {
    h2 {
        font-size: 20px
    }
    .btn-bnw {
        border: 1px solid #334155;
        background-color: transparent;
        color: #334155 !important;
    }
    table {
        thead {
            tr {
                th {
                }
            }
        }
    }
    .page-link {
        background-color: transparent;
        border: none;
    }
}