body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: manrope;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-shadow: none !important;
  outline: none !important;
}

a, .btn-link {
  text-decoration: none !important;
}

i.fa, i.fas, i.far, i.fal, i.fab, i.fa *{
  vertical-align: middle !important;
  line-height: inherit;

}

.vertical-center {
  display: flex;
  align-items: center;
}
